html {
	background-color: rgb(20, 20, 20);
}

body {
	color: white;
	font-family: monospace;
	font-size: 14px;
}

h1 {
	font-size: 22px;
	margin-bottom: 40px;
}

h2 {
	font-size: 16px;
}

a {
	color: white;
	text-decoration: none;
	padding: 5px;
}

h3, p {
	margin: 0 auto;
	padding: 0 40px; 
	max-width: 800px; 
	text-align: left; 
}

.main-container {
	text-align: center;
	padding: 40px;
	padding: 10px 30px;
}

.link {
	padding: 5px;
}

.contact-form form {
	display: flex;
  flex-direction: column;
	align-items: center;
	padding-top: 5px;
}

.contact-form label {
	margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%; 
  max-width: 400px; 
  padding: 4px; 
	margin-bottom: 5px;
  box-sizing: border-box; 
}

.contact-form button {
	margin-top: 5px;
}

.footer {
	font-size: 12px;
	padding-top: 40px;
}

.github-image {
	height: 20px;
	width: 20px;
	padding-bottom: 10px;
}