body {
	background-color: black;
	color: white;
	font-family: monospace;
	font-size: 14px;
}

a {
	color: white;
	text-decoration: none;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border: 1px solid;
	margin: 20px;
}

.header {
	font-size: 22px;
	text-align: center;
}

.navbar {
	padding: 20px;
	text-align: center;
}

.link {
	padding: 10px;
}

.main-page-content {
	text-align: center;
	margin: 0px 100px;
	padding: 0px 10px;
}