html {
	background-color: black;
}

body {
	color: white;
	font-family: monospace;
	font-size: 14px;
	padding: 5px 20px;
	margin: 5px 20px;
}

a {
	color: white;
	text-decoration: none;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.header {
	font-size: 22px;
	text-align: center;
}

.footer {
	font-size: 12px;
	padding-top: 40px;
	text-align: center;
}

.navbar {
	padding: 20px;
	text-align: center;
}

.link {
	padding: 10px;
}

.main-page-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 100px;
	padding: 0px 100px;
}