html {
	background-color: black;
}

body {
	color: white;
	font-family: monospace;
	font-size: 14px;
}

a {
	color: white;
	text-decoration: none;
}

.main-container {
	padding: 40px;
}

h2 {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 16px;
}

.header, .navbar, .footer, .main-page-content {
	text-align: center; /* Center the heading, navbar, and footer */
}

.header {
	font-size: 22px;
}

.main-page-content {
	padding: 30px;
}

.footer {
	font-size: 12px;
	padding-top: 40px;
}

.navbar {
	padding: 20px;
}

.link {
	padding: 10px;
}

p {
	margin: 0 auto; /* Center horizontally */
	padding: 0 40px; /* Add padding for desktop view */
	max-width: 800px; /* Set max-width for content */
	text-align: left; /* Align text to the left */
}

/* Media Query for Mobile View */
@media only screen and (max-width: 600px) {
  .main-page-content {
    padding: 0 20px; /* Reduce padding for mobile view */
  }
}
